@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500");
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

html {
  height: 100%; }

footer .wrapper {
  text-align: center; }

body#homepage .site-header {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0; }
  body#homepage .site-header .wrapper {
    height: 100%; }
  body#homepage .site-header .image-wrapper {
    height: 100%;
    overflow: hidden;
    position: relative; }
    body#homepage .site-header .image-wrapper:before {
      top: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(53, 53, 53, 0.4);
      position: absolute;
      z-index: 1; }
    body#homepage .site-header .image-wrapper img {
      min-width: 1024px;
      min-height: 100%;
      width: 100%;
      height: auto;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      z-index: 0; }
  body#homepage .site-header .header-content-wrapper {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 2; }
    body#homepage .site-header .header-content-wrapper .site-title, body#homepage .site-header .header-content-wrapper .site-description, body#homepage .site-header .header-content-wrapper .site-nav a {
      color: white;
      font-weight: 300; }
    body#homepage .site-header .header-content-wrapper .site-title {
      font-size: 12vmin; }
    body#homepage .site-header .header-content-wrapper .site-description {
      font-size: 5vmin; }
    body#homepage .site-header .header-content-wrapper .site-nav {
      text-transform: uppercase;
      margin-top: 20px;
      font-size: 3vmin; }
      body#homepage .site-header .header-content-wrapper .site-nav a {
        font-weight: 500;
        padding: 0 5px; }
body#homepage main {
  width: 100%;
  top: 100%;
  left: 0;
  position: absolute; }

body#post {
  min-height: 100%;
  background: #e2e2e2; }
  body#post header.site-header .wrapper {
    height: 55px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 1px 2px 0px #258825;
    background: #36c536;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-around; }
    body#post header.site-header .wrapper .site-title, body#post header.site-header .wrapper .site-nav {
      flex: 1 auto; }
    body#post header.site-header .wrapper .site-title {
      padding-left: 10px; }
      body#post header.site-header .wrapper .site-title a {
        font-size: 20px;
        color: #fafafa;
        display: inline-block; }
    @media (max-width: 768px) {
      body#post header.site-header .wrapper .site-title, body#post header.site-header .wrapper .site-nav {
        flex: 1 100%; } }
    body#post header.site-header .wrapper .site-nav {
      display: flex;
      justify-content: flex-end;
      padding-right: 10px; }
      @media (max-width: 768px) {
        body#post header.site-header .wrapper .site-nav {
          justify-content: flex-start; } }
      body#post header.site-header .wrapper .site-nav .page-link {
        padding: 0 10px;
        color: #e8e8e8; }
        body#post header.site-header .wrapper .site-nav .page-link:hover {
          color: #fafafa; }
  body#post main {
    margin-top: 55px; }
    body#post main .article-wrapper, body#post main .archive-wrapper {
      width: 60%;
      margin: 0 auto;
      box-shadow: 0px 1px 7px 1px #999;
      border-radius: 5px; }
      @media (max-width: 768px) {
        body#post main .article-wrapper, body#post main .archive-wrapper {
          width: 90%; } }
      body#post main .article-wrapper .page-heading, body#post main .archive-wrapper .page-heading {
        padding: 15px 30px;
        background: #fff; }
      body#post main .article-wrapper article, body#post main .article-wrapper ul.post-archives, body#post main .archive-wrapper article, body#post main .archive-wrapper ul.post-archives {
        padding: 15px 30px;
        background: #fff; }
        body#post main .article-wrapper article .post-meta a, body#post main .article-wrapper ul.post-archives .post-meta a, body#post main .archive-wrapper article .post-meta a, body#post main .archive-wrapper ul.post-archives .post-meta a {
          color: #36c536; }
      body#post main .article-wrapper ul.post-archives, body#post main .archive-wrapper ul.post-archives {
        list-style: none;
        margin: 0; }

a {
  text-decoration: none; }

h1 {
  margin: 0; }

img {
  width: 100%; }

.post-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 15px;
  background: #e2e2e2; }
  .post-list li {
    width: 60%;
    margin: 0 auto;
    padding-top: 20px; }
    .post-list li .post-wrapper {
      background: #fff;
      box-shadow: 0px 2px 1px 0px #919191;
      overflow: hidden;
      border-radius: 3px;
      color: #414141; }
      .post-list li .post-wrapper .content-wrapper {
        padding: 15px 25px; }
        .post-list li .post-wrapper .content-wrapper .post-continue a, .post-list li .post-wrapper .content-wrapper .post-continue a:hover, .post-list li .post-wrapper .content-wrapper .post-continue a:visited {
          color: #23a023; }
      .post-list li .post-wrapper .post-header h1 a {
        color: #555;
        font-weight: 400;
        font-size: 27px; }
      .post-list li .post-wrapper .post-header .post-meta a {
        color: #36c536; }
    .post-list li img {
      width: 100%;
      max-height: 575px; }
    @media (max-width: 768px) {
      .post-list li {
        width: 90%; } }

.pagination {
  width: 60%;
  margin: 0 auto;
  padding: 15px 0; }
  @media (max-width: 768px) {
    .pagination {
      width: 90%; } }
  .pagination a, .pagination a:visited, .pagination a:hover {
    color: #999; }
