<header class="site-header">
  <div class="wrapper">
    <div class="image-wrapper">
      <img id="#home-header-image"src="" alt="">
    </div>

    <div class="header-content-wrapper">
      <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

      <div class="site-description">{{ site.description }}</div>

      <nav class="site-nav">
        {% for link in site.data.navigation.main %}
          {% if link.url contains "http" %}
            {% assign url = link.url %}
          {% else %}
            {% assign url = link.url | relative_url %}
          {% endif %}
          <a class="page-link" href="{{ url }}">{{ link.title }}</a>
        {% endfor %}
      </nav>
    </div>
  </div>

</header>

<script>
  (function() {
    BACKGROUNDS = [ "bg1.jpg", "bg2.jpg", "bg3.jpg" ]

    randomBackground = function() {
      var randIndex = Math.floor((Math.random() * BACKGROUNDS.length));
      return BACKGROUNDS[randIndex];
    };

    setImageHeader = function(imageId, img) {
      imgObject = document.getElementById(imageId);
      imgObject.setAttribute("src", "/" + img);
    };

    setImageHeader("#home-header-image", randomBackground());
  })();

</script>
